#disable dns server
port=0

#dhcp on sown lan only
interface=eth3
dhcp-range={{pxe_dhcp_range_start}},{{pxe_dhcp_range_end}},1h
dhcp-option=6,10.5.0.254 # dns
dhcp-option=3,10.5.0.254 # def gw

#serve ipxe normally, sown ipxe menu to ipxe
dhcp-match=set:ipxe,175
dhcp-boot=tag:ipxe,sown.ipxe
dhcp-boot=undionly.kpxe

#tftp to serve ipxe and config
enable-tftp
tftp-secure
tftp-root=/var/tftp
