nrpe_allowed_ips:
  - 127.0.0.1
  - ::1
  - 10.5.0.243  # monitor
  - 152.78.103.164  # monitor
  - 2001:630:d0:f700::243  # monitor
  - 10.5.0.215  # monitor2
  - 152.78.103.187  # monitor2
  - 2001:630:d0:f700::215  # monitor2
nrpe_checks:
  users:
    check: "/usr/lib/nagios/plugins/check_users"
    arguments: "-w 10 -c 20"
  load:
    check: "/usr/lib/nagios/plugins/check_load"
    arguments: "-w 15,10,5 -c 30,25,20"
  total_procs:
    check: "/usr/lib/nagios/plugins/check_procs"
    arguments: "-k -w 100 -c 150"
  zombie_procs:
    check: "/usr/lib/nagios/plugins/check_procs"
    arguments: "-w 5 -c 10 -s Z"
  nrpe:
    check: "/usr/lib/nagios/plugins/check_dummy"
    arguments: "0 'NRPE is running'"
  debsums:
    check: "/usr/local/lib/nagios/plugins/check_debsums"
  uname:
    check: "/bin/uname"
    arguments: "-rv"
  uptime:
    check: "/usr/bin/uptime"
  packages:
    check: "/usr/local/lib/nagios/plugins/check_packages"
  reboot:
    check: "/usr/local/lib/nagios/plugins/check_reboot"
  mail:
    check: "/usr/local/lib/nagios/plugins/check_mail"
  internal_ipv6_addresses:
    check: "/usr/local/lib/nagios/plugins/check_internal_ipv6_addresses"
  systemd:
    check: "/usr/local/lib/nagios/plugins/check_systemd"
  psu:
    check: "/usr/local/lib/nagios/plugins/check_psu"
  temp:
    check: "/usr/local/lib/nagios/plugins/check_temp"
    arguments: "-w 50 -c 60"
  git:
    check: "/usr/local/lib/nagios/plugins/check_git"
  conntrackd:
    check: "/usr/local/lib/nagios/plugins/check_conntrackd"
    arguments: "70 95"
  keepalived:
    check: "/usr/lib/nagios/plugins/check_procs"
    arguments: "-w 2:2 -c 1:2 -C keepalived"
  disks:
    check: "/usr/lib/nagios/plugins/check_disk"
    arguments: "-w 20% -c 10% -X tmpfs -X overlay -X devtmpfs -x /tmp -x /var/tmp"
